{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}} hero-wrapper">
    <div class="hero-container">
        <div class="hero-decoration">IC2</div>
        <div class="hero-container-inner">
            <div class="hero-head">
                <h1>Innovative</h1>
                <h1>Cognitive</h1>
                <h1>Computing</h1>
            </div>
            <p>Innovative Cognitive Computing (IC2) bring together researchers in the fields  of cognitive computing, artificial  intelligence, computational intelligence,  neuroinformatics, and psychology.</p>
        </div>
        <div class="hero-image-wrapper">
            <img class="brand-logo" src="/assets/images/hero.svg" />
        </div>
    </div>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
<div class="inner posts">
    <h1 class="post-section-title">Latest Update</h1>
    <div class="post-feed">
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
    </div>

</div>
</main>
